@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.neon-card {
  transform: translateZ(0);
  will-change: filter, box-shadow;
  filter: brightness(1.4) saturate(1.6);
}

body {
  background-color: #000;
  filter: brightness(1.15) contrast(1.2) saturate(1.5);
}

.neon-border-pink,
.neon-border-blue,
.neon-border-orange {
  filter: brightness(1.3) saturate(1.6);
}
